.hr
{
    max-width:900px;
    position: relative;
    top: 70px;
    z-index: -1;
    object-position: left;
    display: block;
    height: 12px;
    background-color: #E5ECF4;
    border: none;
}
.cards{
    
    p{
    max-width: 350px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    }
    h3{
    max-width: 350px;
    font-family: 'Space Mono';
    font-style: normal;
    padding: 40px 0px 27px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #495567;

    }
}
.cards{
    display: flex;
    margin-top: 100px;
    column-gap: 30px;
}
.img-flec1::after{
    content: '';
    transform: translateY(-58px) translateX(-806px);
    z-index: -2;
    background-color: #E5ECF4;
    width: 900px;
    position: absolute;
    height: 12px;
    display: block;
}
.easy__to-use{
    margin-top: 200px;
    h3{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    max-width: 500px;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
    }
    p{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    max-width: 400px;
    padding: 24px 0px 40px 0px;
    line-height: 25px;
    color: #939CAA;
    }
}
.container-big-1{
    max-width: 1450px;
    align-items: center;
    justify-content: space-between;
    margin:  0 auto;
    display: flex;
    .rasm1{
        width: 650px;
        height: 390px;
    }
}
.content{
    flex-direction: row-reverse;
}
.rasm1{
    background-image: url(../../images/Group\ 15.png);
    background-size: 550px;
    background-position: right;
    margin-top: 150px;
    background-repeat: no-repeat;
}
.rasm2{
    background-image: url(../../images/Group14.svg);
    background-size: 500px;
    margin-top: 70px;
    background-position: left;
    background-repeat: no-repeat;
}
.rasm2{
    width: 650px;
    height: 390px;
}
.content button{
    padding: 14px 35px;
    color: white;
    border: none;
    transition: 0.5s;
    border: 1px solid transparent;
    background-color: $main-clor;
}
.content1 button{
    padding: 14px 35px;
    color: white;
    border: none;
    border: 1px solid transparent;
    transition: 0.5s;
    background-color: $main-clor;
}
.content button:hover{
    background-color: white;
    color: $main-clor;
    border: 1px solid $main-clor;
    transition: 0.5s;

}
.content1 button:hover{
    background-color: white;
    color: $main-clor;
    border: 1px solid $main-clor;
    transition: 0.5s;

}
.content{
    align-items: center;
    
}