.about_start{
    display:flex;
    font-family: 'Space Mono';
    font-style: normal;
    align-items: center;
    font-weight: 700;
    font-size: 56px;
    padding: 60px;
    text-align: left;
    line-height: 56px;
    color: #FFFFFF
}
